





    a {cursor: pointer;}


    .bg-gray-200 {
      background-color: #e9ecef;
      /* background-color: $gray-200; */
    }

    .cursor-pointer {
      cursor: pointer;
    }
    .cursor-help {
      cursor: help;
    }
    .pre-wrap {
      white-space: pre-wrap;
    }



    .modal-header, .body, .footer {
      padding: 0.25rem;
    }


    .progress-bar {
      overflow: initial;
    }


    p, dl, ol, ul {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    li > p, li > dl, li > ol, li > ul {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    h1, h2, h3 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    h4, h5, h6 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }


    .vh-80 {
      height: 80vh;
    }
    .vh-60 {
      height: 60vh;
    }
    .vh-40 {
      height: 40vh;
    }
    .vh-20 {
      height: 20vh;
    }

    .max-vh-80 {
      max-height: 80vh;
    }
    .max-vh-60 {
      max-height: 60vh;
    }
    .max-vh-40 {
      max-height: 40vh;
    }
    .max-vh-20 {
      max-height: 20vh;
    }


    .z-1030 {
      z-index: 1030;
    }


    .modal {
      display: block;
      background: rgba(0,0,0,0.5);
      /*backdrop-filter: blur(2px);*/
      /*-webkit-backdrop-filter: blur(2px);*/
    }

    .alert-wrap {
      position: fixed;
      bottom: 2.5rem;
      right: 1rem;
      z-index: 2060;
      display: none;
      width: 360px;
      max-width: 80vw;
      overflow: hidden;
      outline: 0;
      transform:scale(0.7);
      -webkit-transform:scale(0.7);
      -moz-transform:scale(0.7);
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.25s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }

    .hidden-before-ready {
      display: none;
    }
    .hidden-before-ready.ready {
      display: block;
    }
    .hidden-after-ready {
      display: block;
    }
    .hidden-after-ready.ready {
      display: none;
    }



    /* #material-replaced, #material-origin, #convenient-ctrl {} */
    .carded {
      padding: 0.5em 0.25em;
      border: 1px solid #eee;
      border-radius: 4px;
    }




    body {
      background: #eaebee;  /*f8f9fa*/
    }

    .hidden {
      display: none;
    }

    .m0 {
      margin: 0;
    }



    .page-cover {
      position: fixed;
      top:0; right:0; bottom:0; left:0;
      overflow: hidden;
      background: #fff;
      z-index: 99999;
    }


    .container {
      transition: max-width 0.2s, width 0.2s;
    }
    .progress-bar {
      transition: all 0.2s;
    }
    .btn {
      transition: all 0.1s;
    }
    .btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }
    .btn-info:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
    .btn-info.focus, .btn-info:focus {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
      box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
    }
    .btn-info:active {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
    .btn-info.disabled, .btn-info:disabled {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }

    .bodywrap {
      min-height: 110vh;
      /*padding-bottom: 6rem;*/
    }

    .container.page {
      background: #fff;
      border-radius: 8px;
      transition: all 0.2s;
    }
    @media screen and (max-width: 576.5px) {
      .container.page {
        background: #fff;
        border-radius: 0;
      }
    }




    .page-ctrl {
      background: #e9ecef;  /*#f8f9fa;*/
      border-radius: 8px;
    }
    #page-main-editor--container {
      min-height: 20vh;
    }
    #page-main-editor p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }






    .user-select-none {
      -webkit-user-select: none;
      user-select: none;
    }
    .material-area span.token {
      /*padding: 0 1px;*/
      cursor: pointer;
      /*border: 2px dotted transparent;*/
      /*border-radius: 4px;*/
      transition: all 0.2s;
      white-space: nowrap;
    }
    .material-area span.token:hover {
      background: #fee;
    }

    /*空间义动词，已舍弃*/
    /*.material-area span.token[data-auto-spatial=true][data-pos=v] {
      color: #d63384;
    }*/

    /*方位词 （1）方位词高亮：autoSpatial为true且pos为f */
    .material-area span.token[data-auto-spatial=true][data-pos=f] {
      /*color: #0dcaf0;*/
      color: #dc3545;
    }

    /*处所词 （2）处所词高亮：autoSpatial为true且pos为s */
    .material-area span.token[data-auto-spatial=true][data-pos=s] {
      color: #11ab21;
      /*border: 1px #198754 solid;*/
    }

    /*趋向动词 （3）趋向动词高亮：autoSpatial为true且pos为dv */
    .material-area span.token[data-auto-spatial=true][data-pos=dv] {
      color: #e39128;
    }

    /*趋向动词 旧版 autoDVerb存在且为True*/
    /*.material-area span.token[data-auto-dverb=true] {
      color: #e39128;
    }*/

    /*介词 （4）介词高亮：autoSpatial为true且pos为p */
    /*.material-area span.token[data-auto-spatial=true][data-pos=p] {
      color: #8847ff;
    }*/
    .material-area span.token[data-in-list=true][data-pos=p] {
      color: #8847ff;
    }

    /*副词 （5）副词高亮：autoSpatial为true且pos为d */
    /*.material-area span.token[data-auto-spatial=true][data-pos=d] {
      color: #4297c1;
    }*/
    .material-area span.token[data-in-list=true][data-pos=d] {
      color: #4297c1;
    }


    /*名词 autoEntity为True*/
    /* .material-area span.token[data-auto-entity=true][data-pos=n] { */
      /*color: #0d6efd;*/
    /* } */
    /* .material-area span.token[data-auto-entity=true][data-pos=ns] { */
      /*color: #0d6efd;*/
      /*border-bottom: 1px #0d6efd solid;*/
    /* } */
    /* .material-area span.token[data-auto-entity=true][data-pos=nr] { */
      /*color: #0d6efd;*/
      /*border-bottom: 1px #0d6efd dotted;*/
    /* } */

    /*其他实体词，不存在*/
    /*.material-area span.token[data-auto-entity=true] {*/
      /*border: 1px #0d6efd solid;*/
      /*color: #0d6efd;*/
      /*color: #056;*/
      /*color: #210;*/
    /*}*/

    /*其他空间义的词，不管了*/
    /*.material-area span.token[data-auto-spatial=true] {*/
      /*border: 1px #198754 solid;*/
      /*color: #198754;*/
      /*color: #650;*/
      /*color: #120;*/
    /*}*/

    /*代词*/
    /*.material-area span.token[data-pos=r] {
      color: #adb5bd;
    }*/

    /*管理员作弊，框出被替换的词*/
    .material-area.admin span.token[data-replaced=true] {
      /*color: #f00;*/
      /*font-weight: bold;*/
      border: 2px #ff0000 solid;
    }
    /*.material-area span.token[data-have-replace=true] {
      border-bottom: 2px dotted #faa;
      border-radius: 5px;
    }*/

    /*替换前是「前/后」的，要醒目；不过现在用不着220331*/
    /*.material-area.show-notice span.token[data-replaced=true].should-notice {
      color: #f00;
      font-weight: bold;
    }*/

    .material-area span.token[data-selecting=true] {
      background: #eef;
    }
    .material-area span.token[data-selected=true] {
      background: #ff0;
    }

    .anno-entry[data-deleted=true] .btn {
      opacity: 0.5;
      text-decoration: line-through #222;
    }
    .anno-entry[data-deleted=true] .btn.no-delete {
      text-decoration: none;
    }




