<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <!-- 如何禁止浏览器缓存 https://www.zhihu.com/question/27565755 -->
  <!-- 使用HTML meta no-cache标签来禁用缓存 https://www.cnblogs.com/zdz8207/p/vue-meta-no-cache.html -->
  <!-- axios禁止请求缓存 https://blog.csdn.net/u010238381/article/details/84304968 -->

  <title>空间关系理解数据标注 2022</title>

  <link href="css/bootstrap_5.1.3_.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons_1.8.2_.css" rel="stylesheet">
  <!-- <link href="css/tabler-icons_1.68.0_.min.css" rel="stylesheet"> -->

  <link href="css/style.css" rel="stylesheet">

  <style type="text/css">
  </style>

</head>

<body>

  <div class="bodywrap" id="bodywrap">



    <div class="page-cover" v-if="false">
      <div class="container pt-5 text-center">
        <div class="row">
          <div><h2>空间关系理解数据标注 2022</h2></div>
        </div>
        <div class="row">
          <div>
            <p>正在加载，请稍候……</p>
          </div>
        </div>
      </div>
    </div>



    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" :title="`版本：${APP_VERSION}`" _href="#">空间关系理解数据标注 2022</a>
        <button class="navbar-toggler" type="button" @click="newThings.navbar_collapse_show=!newThings.navbar_collapse_show">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" :class="{show: newThings.navbar_collapse_show}">
          <div class="navbar-nav">
            <span class="nav-link">#{{ctrl.currentWorkerId??""}} {{ctrl.currentWorker??""}}</span>
            <template v-for="tag in (newThings?.theUser?.tags??[]).filter(it=>['A组', 'B组', 'C组', 'D组', 'cool'].includes(it))">
              <a class="nav-link" v-if="!play.playMode" _href="#" @click="()=>{}"><small>{{tag}}</small></a>
            </template>
            <a class="nav-link" href="./menu" target="_blank">文档</a>
            <template v-if="!play.playMode">
              <a class="nav-link" _href="#" @click="()=>{setTask('t1')}"
                v-if="newThings.begun && newThings?.theUser?.currTask!='t1'"
                :if="newThings.begun && newThings?.theUser?.currTask!='t1'"
              >切换到 task1</a>
              <!-- <a class="nav-link" _href="#" @click="()=>{setTask('t2')}"
                v-if="newThings.begun && newThings?.theUser?.currTask!='t2' && isChecker()"
                :if="newThings.begun && newThings?.theUser?.currTask!='t2' && isChecker()"
              >切换到 旧版task2</a> -->
              <a class="nav-link" _href="#" @click="()=>{setTask('t2r')}"
                v-if="newThings.begun && newThings?.theUser?.currTask!='t2r'"
                :if="newThings.begun && newThings?.theUser?.currTask!='t2r'"
              >切换到 task2</a>
              <a class="nav-link" _href="#" @click="()=>{setTask('t4')}"
                v-if="newThings.begun && newThings?.theUser?.currTask!='t4'"
                :if="newThings.begun && newThings?.theUser?.currTask!='t4'"
              >切换到 精标</a>
              <!-- <a class="nav-link" _href="#" @click="()=>{}"
                v-if="isChecker()"
                :if="isChecker()"
                title="管理员可以看到 旧版 task2 和 精标，普通标注员看不到"
              ><small>备注</small></a> -->
              <!-- <a class="nav-link" _href="#">配置</a> -->
              <!-- <a class="nav-link" _href="#" @click="ctrl.currentPage='setup'" v-if="isChecker()">准备</a> -->
              <!-- <a class="nav-link" _href="#" @click="ctrl.currentPage='anno'" v-if="isChecker()">标注</a> -->
            </template>
          </div>
        </div>
      </div>
    </nav>
    <!-- navbar end -->


    <div v-if="false" class="container page my-4 hiddent" id="page-nav">
      <div class="container py-2">
        <div class="row align-items-center">
          <div class="col col-12 my-2">
            <button
              type="button"
              name="nav_setup"
              id="nav_setup"
              class="btn btn-sm me-2"
              :class="ctrl.currentPage=='setup'?'btn-primary':'btn-outline-primary'"
              @click="ctrl.currentPage='setup'"
            >准备</button>
            <!-- <button
              type="button"
              name="nav_list"
              id="nav_list"
              class="btn btn-sm me-2"
              :class="ctrl.currentPage=='list'?'btn-primary':'btn-outline-primary'"
              @click="ctrl.currentPage='list'"
            >清单</button> -->
            <button
              type="button"
              name="nav_anno"
              id="nav_anno"
              class="btn btn-sm me-2"
              :class="ctrl.currentPage=='anno'?'btn-primary':'btn-outline-primary'"
              @click="ctrl.currentPage='anno'"
            >标注</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container page my-4" id="page-setup" v-show="ctrl.currentPage=='setup'">
      <div class="container py-2">
        <div class="row align-items-center">
          <div class="col col-12 col-md-3 col-lg-4 my-2">
            <div class="form-floating">
              <input class="form-control form-control-sm" type="text" v-model="ctrl.currentWorker" placeholder="请输入您的姓名">
              <label class="form-label">姓名</label>
            </div>
          </div>
          <div class="col col-12 col-md-9 col-lg-8 my-2">
            <div class="form-floating">
              <input class="form-control form-control-sm" type="password" v-model="ctrl.currentWorkerSecret" placeholder="请输入您的密码">
              <label class="form-label">密码</label>
            </div>
          </div>
          <!-- <div v-if="false" class="col col-12 col-md-3 col-lg-3 my-2">
            <div class="form-floating">
              <input class="form-control form-control-sm" type="text" v-model="ctrl.currentWorkerTarget" placeholder="请输入您的标注目标">
              <label class="form-label">标注目标数量</label>
            </div>
          </div> -->
        </div>
        <div class="row align-items-center my-1" v-if="newThings?.topic?.length">
          <div class="col col-12">
            <div class="small text-muted">任务主题：{{newThings?.topic}}</div>
          </div>
        </div>
        <div class="row align-items-center my-2">
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{bEU.begin();newThings.begun=true;}"
              title="开始标注"
            >开始标注</button>
            <!-- <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{startPlay('t1');}"
              title="查看 task1 示例"
            >查看 task1 示例</button> -->
            <!-- <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{startPlay('t2r');}"
              title="查看 task2 示例"
            >查看 task2 示例</button> -->
            <!-- <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{startPlay('t3');}"
              title="查看 精标 示例"
            >查看 精标 示例</button> -->
            <!-- <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{bEU.connect()}"
              title="每次刷新页面后需「同步信息」并获取任务列表"
            >同步信息</button> -->
            <!-- <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="()=>{bEU.updateTarget()}"
              title="所有任务完成后，可为自己设置新的标注目标，增加总任务量"
            >更新目标</button> -->
          </div>
        </div>
      </div>
    </div>


    <!-- 语料清单 开始 -->
    <div v-if="false" class="container page my-4" id="page-list" v-show="ctrl.currentPage=='list'||ctrl.currentPage=='setup' && tasks.length">
      <div class="container py-2">
        <div class="row align-items-center">
          <div class="col col-12 my-2">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn${newThings.tasksShowUndone?'':'-outline'}-primary`"
              @click="newThings.tasksShowUndone = !newThings.tasksShowUndone"
            >显示未标注: {{newThings.tasksShowUndone ?'on':'off'}}</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn${newThings.tasksShowDropped?'':'-outline'}-dark`"
              @click="newThings.tasksShowDropped = !newThings.tasksShowDropped"
            >显示已丢弃: {{newThings.tasksShowDropped ?'on':'off'}}</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn${newThings.tasksShowValid?'':'-outline'}-info`"
              @click="newThings.tasksShowValid = !newThings.tasksShowValid"
            >显示有效标注: {{newThings.tasksShowValid ?'on':'off'}}</button>
          </div>
          <div class="col col-12 my-2" v-if="newThings?.lastEID!=null">
            <div class="small text-muted">最近查看的序号：#{{newThings?.lastEID}}</div>
          </div>
          <div class="col col-12 col-md-12 col-lg-12 my-2">
            <button
              type="button"
              v-for="taskBtn in tasks"
              :data-batch="taskBtn.batch"
              v-show="(taskBtn.valid&&newThings.tasksShowValid)||(taskBtn.dropped&&newThings.tasksShowDropped)||(!taskBtn.valid&&!taskBtn.dropped&&newThings.tasksShowUndone)"
              class="btn btn-sm me-2 my-1"
              :class="`btn-${taskBtn.valid?'info':taskBtn.dropped?'dark':taskBtn.skipped?'outline-primary':'outline-primary'}`"
              @click="bEU.touchTaskBtn(taskBtn)"
            >[{{1+parseInt(taskBtn.idx)}}] #{{taskBtn.entryId}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 语料清单 结束 -->





    <!-- 编辑区 开始 -->
    <div
      class="container page my-4 py-2"
      id="page-main-editor"
      v-show="ctrl?.currentWorker?.length && ctrl.currentPage=='anno'"
      v-if="example!=null&&example?.material!=null"
    >
      <div class="container" id="page-main-editor--container">

        <div class="row">
          <div class="row mt-2 mb-0">
            <p
              class="text-muted small"
              :title="`${example?._info?.batchName} | ${example?._info?.batch}`"
            >#{{example?._info?.entry_id}}　{{example?.originId}}　{{example?._info?.batchName}}　{{`${fileInfo(example?.originId)?.用户显示名称??'其他'}`}}</p>
          </div>
        </div>

        <div class="row mt-0 mb-2 __align-items-center" id="page-main-editor--main">
          <!-- 内容区 开始 -->
          <div class="col col-12 col-lg-6 --col-xl-7 my-1">
            <div class="position-sticky top-0 start-0">

              <!-- 替换后文本区 开始 -->
              <div
                id="material-replaced"
                class="row my-1 material-area user-select-none"
                :class="{'show-notice': shouldShowNotice(), 'admin': shouldBeAdmin()}"
              >
                <token-list-p
                  :tokens="getTokenList()"
                  :showreplaced="true"
                  @tkn-down="(value)=>{tokenSelector.onMouseDown(value.token, value.event, getTokenList());}"
                  @tkn-enter="(value)=>{tokenSelector.onMouseEnter(value.token, getTokenList());}"
                  @tkn-out="(value)=>{tokenSelector.onMouseOut(value.token);}"
                  @tkn-up="(value)=>{tokenSelector.onMouseUp(value.token, getTokenList());}"
                ></token-list-p>
              </div>
              <!-- 替换后文本区 结束 -->
              <!-- 替换前原文区 开始 -->
              <div
                id="material-origin"
                class="row my-1 material-area user-select-none"
                v-show="ctrl.showOrigin"
                :data-show="ctrl.showOrigin"
              >
                <token-list-p
                  :tokens="getTokenList()"
                  :showreplaced="false"
                  :showfrom="true"
                  @tkn-down="(value)=>{tokenSelector.onMouseDown(value.token, value.event, getTokenList());}"
                  @tkn-enter="(value)=>{tokenSelector.onMouseEnter(value.token, getTokenList());}"
                  @tkn-out="(value)=>{tokenSelector.onMouseOut(value.token);}"
                  @tkn-up="(value)=>{tokenSelector.onMouseUp(value.token, getTokenList());}"
                ></token-list-p>
              </div>
              <!-- 替换前原文区 结束 -->
              <!-- 便捷选择操作区 开始 -->
              <div class="row my-2" v-show="selection.array.length" id="convenient-ctrl">
                <div class="col col-12 col-lg-12 d-flex justify-content-end">
                  <button v-if=" 'multiSpans' == (currentStep.mode) && currentStep?.props?.addBtn" type="button" @click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-outline-primary`">{{ currentStep.props.addBtn.text }}</button>
                  <button type="button" @click="tokenSelector.clear(getTokenList())" class="btn btn-sm my-1 me-1" :class="`btn-outline-info`">清除选区</button>
                  <button
                    type="button"
                    class="btn btn-sm my-1 me-1"
                    :class="`btn-outline-info btn-copy-selection`"
                    :data-clipboard-text="tokenSelector.selectedReplacedText(getTokenList())"
                  >拷贝选区{{ctrl.showOrigin ? "（1）" : ""}}</button>
                  <button
                    type="button"
                    v-show="ctrl.showOrigin"
                    class="btn btn-sm my-1 me-1"
                    :class="`btn-outline-info btn-copy-selection`"
                    :data-clipboard-text="tokenSelector.selectedOriginText(getTokenList())"
                  >拷贝选区（2）</button>
                </div>
              </div>
              <!-- 便捷选择操作区 结束 -->
              <!-- 参考信息区 开始 -->
              <div class="row my-2">
                <div class="col col-12 col-lg-12">
                  <cmr-ui-helper
                    :spes="example?._spes"
                    :tokens="getTokenList()"
                    :token-selector="tokenSelector"
                  ></cmr-ui-helper>
                </div>
              </div>
              <!-- 参考信息区 结束 -->

            </div>
          </div>
          <!-- 内容区 结束 -->




          <!-- 功能区 开始 -->
          <div class="col col-12 col-lg-6 --col-xl-5 my-2" id="func-ctrl">
            <annotator
              :step="currentStep"
              :engine="'web'"
              :token-selector="tokenSelector"
              :step-ctrl="stepCtrl"
              :tokens="example?.material?.tokenList"
              :modified-text="modifiedText"
              :selection="selection"
              :alert-box="alertBox"
              :example="example"
              :backend-usage="bEU"
              :can-save="!play.playMode"
              @web-next="bEU.next(example)"
              @web-save="()=>{if(!play.playMode){bEU.save(example);};}"
              @web-save-and-next="()=>{if(!play.playMode){bEU.saveAndNext(example);}else{alertBox.pushAlert('演示模式无法保存', 'info', 3000);bEU.next(example);};}"
            ></annotator>
          </div>
          <!-- 功能区 结束 -->
        </div>

        <!-- 标注结果展示模块 开始 -->
        <div class="row mt-2 mb-1 carded" id="annotations-area">
          <div class="col col-12 my-1" v-show="example?.review?.accept!=null">
            <span class="badge text-wrap my-1 me-2" :class="example?.review?.accept ? (example?.review?.checked ? 'bg-warning bg-opacity-25 text-dark' : 'bg-success text-light') : (example?.review?.checked ? 'bg-warning bg-opacity-25 text-dark' : 'bg-danger text-light')">
              <span v-show="example?.review?.reviewer">{{example?.review?.reviewer?.name??`审核员${example?.review?.reviewer?.id}`}}</span>
              <span>{{example?.review?.accept ? (example?.review?.checked ? '等待复审' : '审核通过') : (example?.review?.checked ? '等待复审' : '审核未通过，请修改！')}}</span>
              <span v-show="example?.review?.comment">（{{example?.review?.comment}}）</span>
            </span>
          </div>
          <div class="col col-12 my-1" v-show="!example?.annotations?.length">
            <div class="text-muted">标注好的内容将显示在这里</div>
          </div>
          <div class="col col-12 my-1" v-show="example?.annotations?.length">
            <div class="text-muted">标注结果：</div>
            <results-display
              class="col col-12 col-lg-12"
              :each-class="'rounded-pill my-1 me-2'"
              :annotations="example.annotations"
              :tokens="example?.material?.tokenList"
              :show-sub="false"
              :show-index="false"
              :show-title-detail="false"
              :can-close="true"
              :wrap="true"
              @close="(annot)=>{win.console.log(annot);example.annotations.splice(annot._idx_to_delete,1);alertBox.pushAlert('别忘了保存', 'warning');}"
            ></results-display>
          </div>
        </div>
        <!-- 标注结果展示模块 结束 -->




      </div>
    </div>
    <!-- 编辑区 结束 -->


    <div class="container page my-4" id="page-overview" v-show="tasks.length">
      <div class="container py-2">
        <!-- progressCtrl start -->
        <div class="row align-items-center">
          <div class="col col-12 col-md-12 col-lg-12 my-2">
            <!-- <label class="form-label">标注进度</label> -->
            <div class="progress" title="标注进度">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                :style="`min-width: ${ctrl.donePct};`"
                :aria-valuenow="ctrl.doneNum"
                :aria-valuemax="ctrl.totalNum"
                aria-valuemin="0"
              >{{ ctrl.doneNum }}/{{
                ctrl.totalNum }}</div>
            </div>
          </div>
        </div>
        <!-- progressCtrl end -->
      </div>
    </div>


    <div class="container py-4" id="padding" __v-show="tasks.length">
      <div class="container py-2">
      </div>
    </div>


    <!-- 网络版 的 页码操作区 开始 -->
    <div class="position-fixed bottom-0 w-100 p-2 z-1030" id="idx-ctrl-wrap-online" v-if="ctrl.currentPage=='anno'">
      <div class="container">
        <!-- 页码操作区 开始 -->
        <div class="row page-ctrl">
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm ">
              <button class="btn btn-outline-secondary" type="button" @click="bEU.prev(example)">上一条</button>
              <!-- <span class="input-group-text">3</span> -->
              <input type="text" class="form-control text-center" disabled :value="`[${1+parseInt(example?._info?.btn_idx??'_')}]`">
              <button class="btn btn-outline-secondary" type="button" @click="bEU.next(example)">下一条</button>
            </div>
          </div>
          <div class="col-md-4 my-0">
          </div>
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm">
              <span class="input-group-text">前往第</span>
              <input type="number" class="form-control text-center" v-model="ctrl.targetIdx">
              <span class="input-group-text">条</span>
              <button
                class="btn btn-outline-secondary"
                type="button"
                @click="bEU.goIdx(ctrl.targetIdx-1)"
              >GO</button>
            </div>
          </div>
        </div>
        <!-- 页码操作区 结束 -->
      </div>
    </div>
    <!-- 网络版 的 页码操作区 结束 -->



    <!-- 离线版版 的 页码操作区 开始 -->
    <div class="position-fixed bottom-0 w-100 p-2 z-1030" v-if="false && dfWrap.dataItems.length">
      <div class="container">
        <!-- 页码操作区 开始 -->
        <div class="row page-ctrl">
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm ">
              <button
                class="btn btn-outline-secondary"
                type="button"
                @click="ioC.saveExample();ioC.goIdx(ctrl.currentIdx-1)"
              >上一条</button>
              <!-- <span class="input-group-text">3</span> -->
              <input type="text" class="form-control text-center" disabled :value="ctrl.currentIdx+1">
              <button
                class="btn btn-outline-secondary"
                type="button"
                @click="ioC.saveExample();ioC.goIdx(ctrl.currentIdx+1)"
              >下一条</button>
            </div>
          </div>
          <div class="col-md-4 my-0">
          </div>
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm">
              <span class="input-group-text">前往第</span>
              <input type="number" class="form-control text-center" v-model="ctrl.targetIdx">
              <span class="input-group-text">条</span>
              <button
                class="btn btn-outline-secondary"
                type="button"
                @click="ioC.saveExample();ioC.goIdx(ctrl.targetIdx-1)"
              >GO</button>
            </div>
          </div>
          <!-- <div class="col-md-1 my-0">
          </div> -->
        </div>
        <!-- 页码操作区 结束 -->
      </div>
    </div>
    <!-- 离线版版 的 页码操作区 结束 -->



    <!-- 离线版版 的 配置区 开始 -->
    <div v-if="false" class="container page my-4 hiddent" id="page-import">
      <div class="container py-2">
        <!-- progressCtrl start -->
        <div class="row align-items-center">
          <div class="col col-12 my-2" v-if="!ctrl?.currentWorker?.length">
            <div>请填写姓名！</div>
          </div>
          <div class="col col-12 col-md-3 col-lg-2 my-2">
            <input class="form-control form-control-sm" type="text" v-model="ctrl.currentWorker" placeholder="请在此输入姓名">
          </div>
          <div class="col col-12 col-md-9 col-lg-10 my-2">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" :style="`min-width: ${ctrl.donePct};`"
                :aria-valuenow="ctrl.doneNum" aria-valuemin="0" :aria-valuemax="ctrl.totalNum">{{ ctrl.doneNum }}/{{
                ctrl.totalNum }}</div>
            </div>
          </div>
        </div>
        <!-- progressCtrl end -->
        <!-- fileCtrl start -->
        <form name="file-form" class="row" id="filePicker">
          <div class="col-md-8 my-2">
            <input type="file" class="form-control form-control-sm" name="file-input" id="file-input" accept=".json, .txt" />
          </div>
          <div class="btn-group btn-group-sm col-md-4 my-2">
            <button
              v-if="ctrl?.currentWorker?.length"
              type="button"
              name="do_import"
              id="do_import"
              @click="ioC.onImport(win.document)"
              class="btn btn-primary"
            >导入</button>
            <button
              v-if="!dfWrap?.dataItems?.length && ctrl.haveStore && ctrl?.currentWorker?.length"
              type="button"
              name="do_loadStore"
              id="do_loadStore"
              @click="ioC.loadStore()"
              class="btn btn-success"
            >加载缓存数据</button>
            <button
              :disabled="!dfWrap?.dataItems?.length"
              type="button"
              name="do_export"
              id="do_export"
              @click="ioC.onExport()"
              class="btn btn-info"
            >导出</button>
          </div>
        </form>
        <!-- fileCtrl end -->
      </div>
    </div>
    <!-- 离线版版 的 配置区 结束 -->



  <!-- Alert -->
  <div class="alert-wrap" style="display: block;" ref="alert_wrap">
    <transition name = "fade" v-for="alert in alertBox.data.alerts">
      <div v-show="alert?.show" class="alert alert-dismissible" :class="'alert-'+(alert?.type ?? 'info')">
        <button type="button" class="btn-close" @click="alertBox.removeAlert(alert?.idx)"></button>
        <div>{{alert?.content}}</div>
      </div>
    </transition>
  </div>

  </div>
  <!-- bodywrap end -->

  <!-- scripts start -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script> -->

  <!-- <script type="text/javascript" src="lib/clipboard_2.0.10_.min.js"></script>
  <script type="text/javascript" src="lib/store_2.0.9_.legacy.min.js"></script>
  <script type="text/javascript" src="lib/vue_3.2.26_.global.prod.min.js"></script>
  <script type="text/javascript" src="lib/axios_0.25.0_.min.js"></script>
  <script type="text/javascript" src="lib/FileSaver.js"></script> -->

  <!-- <script type="text/javascript" src="js/components/BaseAlert.js"></script>
  <script type="text/javascript" src="js/components/BaseSaver.js"></script>
  <script type="text/javascript" src="js/components/BaseReader.js"></script>
  <script type="text/javascript" src="js/components/TheReader.js"></script>
  <script type="text/javascript" src="js/components/TheSteps.js"></script> -->

  <!-- <script type="text/javascript" src="js/components/TheSelector.js"></script> -->

  <!-- <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/main.js"></script> -->

  <!-- <script type="module" src="js/util.mjs.js"></script> -->
  <script type="module" src="js/main.mjs.js"></script>

  <!-- scripts end -->
</body>

</html>
