<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">

  <title>Sp22Anno 审核工具</title>

  <link href="css/bootstrap_5.1.3_.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

  <style type="text/css">
  </style>

</head>

<body>

  <div class="bodywrap" id="bodywrap">

    <div class="page-cover" v-if="false">
      <div class="container pt-5 text-center">
        <div class="row">
          <div><h2>空间关系理解数据标注 2022 审核工具</h2></div>
        </div>
        <div class="row">
          <div>
            <p>正在加载，请稍候……</p>
          </div>
        </div>
      </div>
    </div>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">空间关系理解数据标注 2022 审核工具</a>
      </div>
    </nav>
    <!-- navbar end -->


    <div class="container page my-4">
      <div class="container py-2">
        <div class="row align-items-center">
          <div class="col col-12 col-md-3 col-lg-4 my-2">
            <div class="form-floating">
              <input
               class="form-control form-control-sm"
               type="text"
               v-model="ctrl.currentUser.name"
               placeholder="请输入您的姓名"
              >
              <label class="form-label">姓名</label>
            </div>
          </div>
          <div class="col col-12 col-md-9 col-lg-8 my-2">
            <div class="form-floating">
              <input
               class="form-control form-control-sm"
               type="password"
               v-model="ctrl.currentUser.token"
               placeholder="请输入您的密码"
              >
              <label class="form-label">密码</label>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-2">
          <div class="col col-12 my-2">
            <div>操作步骤：</div>
            <div>1、如果太久没刷新，点「刷新全部」；否则点「加载缓存」</div>
            <div>2、等待处理完毕</div>
            <div>3、点击「开始工作」，加载工作页面</div>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn-outline-dark`"
              @click="()=>{sync()}"
              title="从服务器更新最新数据，包括 User, Task, Anno 表，以及 Entry 表中的基本信息"
            >刷新全部</button>
            <button
              type="button"
              __v-show="ctrl.haveCache"
              class="btn btn-sm me-2 my-1"
              :class="`btn-outline-dark`"
              @click="()=>{loadCacheDB()}"
              title="加载缓存数据"
            >加载缓存</button>
            <span class="text-danger" v-show="workerState.working">辅助线程工作中，请稍等……</span>
            <span class="text-danger" v-show="workerState.works.length">（还有 {{workerState.works.length}} 项任务正在排队）</span>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.entries?.length, 'btn-outline-secondary': !theDB.entries?.length}"
              @click="()=>{syncEntryInfo()}"
              title="从服务器更新 Entry 表 (仅基本信息，不含文本内容)"
            >刷新 Entry 表 (仅基本信息，不含文本内容)</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.tasks?.length, 'btn-outline-secondary': !theDB.tasks?.length}"
              @click="()=>{syncTask()}"
              title="从服务器更新 Task 表"
            >刷新 Task 表</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.annos?.length, 'btn-outline-secondary': !theDB.annos?.length}"
              @click="()=>{syncAnno()}"
              title="从服务器更新 Anno 表"
            >刷新 Anno 表</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.users?.length, 'btn-outline-secondary': !theDB.users?.length}"
              @click="()=>{syncUser()}"
              title="从服务器更新 User 表"
            >刷新 User 表</button>
          </div>
          <!-- <div class="col col-12" v-show="false">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.entries?.[0]?.content?.material?.tokenList?.length, 'btn-outline-secondary': !theDB.entries?.[0]?.content?.material?.tokenList?.length}"
              @click="modalBox_open('upload-entries')"
              title="因网络传输不太稳定，而语料库较大，故请从本地选择语料库文件进行加载"
            >导入 Entry 表（完整)</button>
            <button
              type="button"
              v-if="theDB.entries?.[0]?.content?.material?.tokenList?.length"
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-primary'"
              @click="makeAnnoOnTexts"
              title="配合语料文本更新 anno 细节"
            >配合语料文本更新 anno 细节</button>
          </div> -->
          <!-- <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-dark'"
              @click="exportDB"
              title="将整个数据库导出为json文件（需要先刷新数据库到本地，否则数据可能不完整；其中Entry表可使用离线版）"
            >导出数据库（需要先刷新数据库到本地）</button>
            <a
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-dark'"
              href="https://github.com/2030NLP/sp22scripts/blob/main/SpaCE2022_DB.spec.md"
              target="_blank"
            >查看数据格式说明</a>
          </div> -->
          <div class="col col-12 text-muted small my-2">
            <div>上次刷新整个数据库的时间是 {{ctrl.lastTime}} 。</div>
            <div>上次刷新 Entry 表的时间是 {{ctrl.lastTimeDict?.entries}} 。</div>
            <div>上次刷新 User 表的时间是 {{ctrl.lastTimeDict?.users}} 。</div>
            <div>上次刷新 Task 表的时间是 {{ctrl.lastTimeDict?.tasks}} 。</div>
            <div>上次刷新 Anno 表的时间是 {{ctrl.lastTimeDict?.annos}} 。</div>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn-info`"
              @click="async()=>{ctrl.started=true;await getMemoList();}"
              title="开始工作"
            >开始工作</button>
            <!-- <a
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-dark'"
              href="./memos"
              target="_blank"
            >打开留言板</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container page my-4" v-if="ctrl.started">
      <div class="container py-2">

        <div class="row align-items-center my-2" __v-show="ctrl.tab == TABS.userProgress">
          <div class="col col-12 my-2">
            <div>
              <button
                type="button"
                class="btn btn-sm my-1 me-2"
                :class="ctrl.showOnlyMyMembers ? 'btn-primary' : 'btn-outline-primary'"
                @click="ctrl.showOnlyMyMembers = !ctrl.showOnlyMyMembers"
              >只显示我管理的人员</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+a.id-b.id);}"
              >序号 升序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+userProgress(a).ratio-userProgress(b).ratio);}"
              >进度 升序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((b,a)=>+userProgress(a).ratio-userProgress(b).ratio);}"
              >进度 降序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+userProgress(a).cDoneLen-userProgress(b).cDoneLen);}"
              >总完成量 升序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((b,a)=>+userProgress(a).cDoneLen-userProgress(b).cDoneLen);}"
              >总完成量 降序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>sortFnByPassRatio(a,b))}"
              >审核通过率 升序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>sortFnByPassRatioR(a,b))}"
              >审核通过率 降序</button>
            </div>
          </div>
        </div>

        <div class="row align-items-center my-2" __v-show="ctrl.tab == TABS.userProgress">
          <div class="col col-12 my-2">
            <div>已审核 {{theDB?.annos?.filter?.(it=>it?.content?.review)?.length}} / {{theDB?.annos?.length}}</div>
          </div>
        </div>

        <div class="row align-items-center my-2" __v-show="ctrl.tab == TABS.userProgress">
          <div class="container my-2">
            <div
              class="row align-items-center my-1 border rounded p-2"
              v-show="ctrl.currentUser?.id==user.manager||!ctrl.showOnlyMyMembers"
              v-for="user in theDB.users"
              :key="user.id"
            >
              <div class="col col-12 col-md-6 col-lg-4 mb-1">
                <span class="__fw-bold fs-6 me-2">{{user.name}}</span>
                <span class="badge rounded-pill bg-light text-dark me-1">#{{user.id}}</span>
                <span v-for="role in user.role" class="badge rounded-pill bg-light _border _border-primary text-primary me-1">{{role}}</span>
                <span v-if="user.quitted" class="badge rounded-pill bg-danger me-1">已退出</span>
              <!-- </div>
              <div class="col col-12 col-sm-6 col-md-3 my-2"> -->
                <span class="badge bg-light text-dark me-1" :title="组别">{{user.currTaskGroup}}</span>
                <span class="badge bg-light text-dark me-1" v-if="user.manager" :title="`组长：${theDB.userDict[user.manager]?.name}`">{{theDB.userDict[user.manager]?.name}}</span>
              <!-- </div>
              <div class="col col-12 col-sm-6 col-md-3 my-2"> -->
                <span class="badge bg-light text-dark me-1" :title="最新批次" v-show="user.currBatchName">最新批次：{{user.currBatchName}}</span>
                <span class="badge bg-light text-dark me-1" :title="当前任务" v-show="user.currTask&&!user.currBatchName">当前任务：{{topic_regulation(user.currTask)}}</span>
                <span class="badge bg-light text-dark me-1">已标总量：{{user.allAnnos?.length}}</span>
                <template v-for="sum in [inspectionSum(user)]"><span
                  class="badge me-1"
                  :class="sum?.passRatio>=0.9 ? 'bg-success text-light' : sum?.passRatio>=0.8 ? 'bg-light text-success border border-1 border-success' : sum?.passRatio==null ? 'bg-light text-dark' : sum?.passRatio<=0.6 ? 'bg-danger text-light' : 'bg-light text-danger border border-1 border-danger'"
                >审核通过率：{{sum?.passRatio?.toFixed?.(3)??'null'}}</span>
                <span class="badge bg-light text-dark me-1">该批已审：{{inspectionSum(user)?.sum}}</span></template>
              </div>
              <div class="col col-12 col-md-6 col-lg-6 my-1">
                <div class="progress" :class="{'bg-success bg-opacity-25': userProgress(user).done}" title="当前任务进度">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    :style="`width: ${userProgress(user).pct};`"
                    :aria-valuenow="userProgress(user).mn"
                    :aria-valuemax="userProgress(user).bg"
                    aria-valuemin="0"
                  >当前任务进度　{{ userCurrDoneTasks(user).length }}/{{ userCurrTasks(user).length }}</div>
                </div>
              </div>
              <div class="col col-12 col-md-12 col-lg-2 mt-1">
                <button
                  type="button"
                  class="btn btn-sm me-2 my-1 btn-light"
                  :title="`查看 ${user.name} 所标注的具体情况`"
                  @click="()=>{sortUserAnnos(user);modalBox_open('user-progress', user);}"
                >标注详情</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Modal -->
    <div class="modal-wrap" style="display: block;" ref="modal_wrap">
      <div class="modal" v-show="modalBox.data.show" :class="{show: modalBox.data.show}">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">



          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['entry-detail']">
            <div class="modal-body" v-for="entry in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4 class="mt-2">语料详情</h4>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">基本信息</h5>
                </div>

                <div class="col-12">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">更多信息</h5>
                </div>

                <div class="col-12">
                  <div v-show="entry.originId">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">原句编号: {{entry.originId}}</span>
                  </div>
                  <div v-show="entry.version">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">版本: {{entry.version}}</span>
                  </div>
                  <div v-show="entry.deleted">
                    <span class="badge bg-danger text-light text-wrap my-1 me-2">已删除</span>
                  </div>
                  <div v-show="entry.info">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">更多信息: {{entry.info}}</span>
                  </div>
                  <!-- <div v-show="Object.keys(entry.results).length">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">参考信息: {{entry.results}}</span>
                  </div> -->
                </div>

                <div class="col-12">
                  <h5 class="mt-2">已提交的标注</h5>
                </div>

                <div class="col-12" v-for="anno_id in entry.allAnnos">
                  <div class="card my-1" v-for="anno in [theDB.annoDict[anno_id]]" :key="anno.id">
                    <div class="col-12">
                      <anno-card
                        :anno="anno"
                        :db="theDB"
                        @submit-review="(value)=>{saveAnnoReview(...value)}"
                        @open-modal="(value)=>{modalBox_open(...value)}"
                        @update-anno="(value)=>{updateOneAnno(value)}"
                      ></anno-card>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">关联的任务</h5>
                </div>

                <div class="col-12" v-for="task_id in entry.allTasks">
                  <!-- <template v-for="task in [theDB.taskDict[task_id]]">
                    <button
                      type="button"
                      class="btn btn-sm my-1 me-2"
                      :class="task.deleted ? 'btn-danger' : 'btn-outline-dark'"
                      @click="modalBox_open('task-detail', task)"
                    >task-{{task?.topic}}-#{{task?.id}}</button><span v-if="task.batchName">批次：{{task.batchName}}</span>
                  </template> -->
                  <task-card
                    v-for="task in [theDB.taskDict[task_id]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}" v-show="modalBox.data.history.length>1">关闭全部 ({{modalBox.data.history.length}})</button>
            </div>
          </div>



          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['anno-detail']">
            <div class="modal-body" v-for="anno in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4>标注详情</h4>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[anno.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-dark my-1 me-2"
                  >anno-{{anno?.topic}}-#{{anno?.id}}-{{theDB.userDict[anno?.user]?.name}}</button>
                  <div v-for="annot in anno.content?.annotations??[]">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">{{annot}}</span>
                  </div>
                  <div>
                    <span>Schema：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?.content?._ctrl?.schema}}</span>
                  </div>
                  <div v-if="anno?._timeInfo">
                    <span>首次操作时长：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.firstDur/1000}}s</span><br/>
                    <span>累计操作次数：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.detail?.length}}次</span><br/>
                    <span>审核前最后提交时间：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{(new Date(anno?._timeInfo?.pureLastAt)).toLocaleString()}}</span><br/>
                    <span>审核前累计操作时长：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.pureTotalDur/1000}}s</span><br/>
                    <span>审核前累计时长跨度：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.pureStride/1000}}s</span><br/>
                    <span>最后提交时间：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{(new Date(anno?._timeInfo?.lastAt)).toLocaleString()}}</span><br/>
                    <span>累计操作时长：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.totalDur/1000}}s</span><br/>
                    <span>累计时长跨度：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.stride/1000}}s</span>
                  </div>
                  <task-card
                    v-for="task in [theDB.taskDict[anno.task]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                  <button
                    v-for="user in [theDB.userDict[anno.user]]"
                    type="button"
                    class="btn btn-sm btn-outline-dark my-1 me-2"
                    @click="modalBox_open('user-progress', user)"
                  >user#{{user?.id}} {{user?.name}}</button>
                </div>


              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}" v-show="modalBox.data.history.length>1">关闭全部 ({{modalBox.data.history.length}})</button>
            </div>
          </div>



          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['task-detail']">
            <div class="modal-body" v-for="task in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4>任务详情</h4>
                </div>

                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                  >task#{{task?.id}}</button>
                  <div>
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">{{task}}</span>
                  </div>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[task.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <h5>已提交的标注（{{task.submitters?.length}}）</h5>
                  <div class="card my-1" v-for="user_id in task.submitters">
                    <div class="col-12" v-for="anno_id in [theDB.inf_user_task_anno[`${user_id}/${task.id}`]]">
                      <!-- <anno-card
                        v-for="anno in [theDB.annoDict[anno_id]]"
                        :anno="anno"
                        :db="theDB"
                        :key="anno.id"
                        @submit-review="(value)=>{saveAnnoReview(...value)}"
                        @open-modal="(value)=>{modalBox_open(...value)}"
                        @update-anno="(value)=>{updateOneAnno(value)}"
                      ></anno-card> -->
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <h5>分配给{{task.to?.length}}人</h5>
                  <template v-for="user_id in task.to">
                    <button
                      v-for="user in [theDB.userDict[user_id]]"
                      type="button"
                      class="btn btn-sm btn-outline-dark my-1 me-2"
                      @click="modalBox_open('user-progress', user)"
                    >user#{{user?.id}} {{user?.name}}</button>
                  </template>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}" v-show="modalBox.data.history.length>1">关闭全部 ({{modalBox.data.history.length}})</button>
            </div>
          </div>


          <template
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['user-detail']"
          ><modal-content
            :box="modalBox"
            v-for="user in [modalBox.data.kwargs]"
            :key="user.id"
          >

            <div class="container">
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <h5>{{user.name}}
                    <span v-for="role in user.role" class="badge rounded-pill bg-primary mx-1">{{role}}</span>
                    <span v-if="user.quitted" class="badge rounded-pill bg-danger mx-2">已退出</span>
                  </h5>
                </div>
              </div>
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <p>编号：{{user.id}}</p>
                  <p>分组：{{user.currTaskGroup}}</p>
                  <p>组长：{{theDB.userDict[user.manager]?.name}}</p>
                  <p>当前任务类型：{{topic_regulation(user.currTask)}}</p>
                  <p>机构缩写：{{user?.info?.inst_abbr}}</p>
                  <p>机构：{{user?.info?.institution}}</p>
                  <p>电话：{{user?.info?.phone}}</p>
                  <p>邮箱：{{user?.info?.email}}</p>
                  <p>微信：{{user?.info?.wechat}}</p>
                  <p>其他：{{user?.info?.other}}</p>
                </div>
              </div>
              <!-- <div class="row align-items-center my-2">
                <div class="col-12">
                  <button
                    v-if="!(user.role??[]).includes('admin')"
                    type="button"
                    class="btn btn-sm me-2 my-1 btn-outline-secondary btn-copy-token"
                    :title="`点击拷贝 ${user.name} 的密码`"
                    :data-clipboard-text="`${user.name} 的密码是： ${user.token}`"
                  >拷贝密码</button>
                  <button
                    v-if="(user.role??[]).includes('admin')"
                    type="button"
                    class="btn btn-sm me-2 my-1 btn-outline-secondary btn-copy-token"
                    :title="`点击拷贝 ${user.name} 的密码`"
                    :data-clipboard-text="`不能拷贝管理员的密码`"
                  >拷贝密码</button>
                  <button
                    type="button"
                    v-if="!user.quitted"
                    class="btn btn-sm me-2 my-1 btn-outline-secondary"
                    :title="`给 ${user.name} 添加“已退出”标记`"
                    @click="modalBox_open('user-set-quitted', user)"
                  >标记退出</button>
                  <button
                    type="button"
                    v-if="user.quitted"
                    class="btn btn-sm me-2 my-1 btn-outline-secondary"
                    :title="`为 ${user.name} 移除“已退出”标记`"
                    @click="modalBox_open('user-unset-quitted', user)"
                  >不再退出</button>
                </div>
              </div> -->
            </div>

            <template #footer>
              <button type="button" class="btn btn-sm btn-outline-dark me-2" @click="modalBox_open('user-progress', user)">标注进度</button>
            </template>
          </modal-content></template>

          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['user-progress']">
            <div class="modal-header" v-for="user in [modalBox.data.kwargs]">
              <div class="container">
                <div class="row align-items-center my-2">
                  <div class="col-6 col-sm-6 col-md-3 my-1">
                    <h5>{{user.name}}</h5>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 my-1">
                    <span v-for="sum in [inspectionSum(user)]"
                      class="badge me-1"
                      :class="sum?.passRatio>=0.9 ? 'bg-success text-light' : sum?.passRatio>=0.8 ? 'bg-light text-success border border-1 border-success' : sum?.passRatio==null ? 'bg-light text-dark' : sum?.passRatio<=0.6 ? 'bg-danger text-light' : 'bg-light text-danger border border-1 border-danger'"
                    >通过率： {{sum.passRatio?.toFixed?.(3)??'null'}} = {{sum.true??0}}/{{sum.sum??0}}</span>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 my-2">
                    <div class="progress" :class="{'bg-success bg-opacity-25': userProgress(user).done}" title="标注进度">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        :style="`width: ${userProgress(user).pct};`"
                        :aria-valuenow="userProgress(user).mn"
                        :aria-valuemax="userProgress(user).bg"
                        aria-valuemin="0"
                      >{{ userCurrDoneTasks(user).length }}/{{ userCurrTasks(user).length }}</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group input-group-sm my-2">
                      <label class="input-group-text">任务</label>
                      <select
                       class="form-select form-select-sm"
                       v-model="ctrl.userAnnoFilter.topic"
                      >
                        <option v-for="topic in theDB.topics" :value="topic">{{topic}}</option>
                        <option value="【empty】">【empty】</option>
                        <option value="【all】">【all】</option>
                      </select>
                      <label class="input-group-text">批次</label>
                      <select
                       class="form-select form-select-sm"
                       v-model="ctrl.userAnnoFilter.batchName"
                      >
                        <option v-for="batchName in theDB.batchNames" :value="batchName">{{batchName}}</option>
                        <option value="【empty】">【empty】</option>
                        <option value="【all】">【all】</option>
                      </select>
                      <button type="button" class="btn btn-sm btn-outline-secondary" @click="()=>{sortUserAnnos(user);}">排序</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-body" v-for="user in [modalBox.data.kwargs]">
              <div
                class="row align-items-center my-3 border border-secondary border-2 rounded"
                v-for="anno in userAnnos.list"
                __v-for="anno in lo.sortBy(user.allAnnos.map(it=>theDB.annoDict[it]), [annoSortFn, it=>(-it.batch)])"
                :key="anno.id"
                v-show="[anno.topic, '【all】'].includes(ctrl.userAnnoFilter.topic)&&[anno.batchName??'【empty】', '【all】'].includes(ctrl.userAnnoFilter.batchName??'【empty】')">

                <div class="col-12">
                  <task-card
                    v-for="task in [theDB.taskDict[anno.task]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[anno.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <anno-card
                    :anno="anno"
                    :db="theDB"
                    @submit-review="(value)=>{saveAnnoReview(...value)}"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-anno="(value)=>{updateOneAnno(value)}"
                  ></anno-card>
                </div>

              </div>
            </div>

            <div class="modal-footer" v-for="user in [modalBox.data.kwargs]">
              <!-- <button type="button" class="btn btn-sm btn-outline-dark me-2" @click="modalBox_open('user-detail', user)">用户资料</button> -->
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}" v-show="modalBox.data.history.length>1">关闭全部 ({{modalBox.data.history.length}})</button>
            </div>
          </div>









          <modal-content
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['default']"
            :box="modalBox"
          >
            <div class="row align-items-center my-2">
              <div class="col-12">
                <p>😄</p>
              </div>
            </div>
          </modal-content>

          <modal-content
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['confirm']"
            :box="modalBox"
            :needconfirm="true"
            @confirm="()=>{modalBox.data.kwargs.action();modalBox.hide();}"
            :closetext="modalBox.data.kwargs.closetext"
            :confirmtext="modalBox.data.kwargs.confirmtext"
            :confirmstyle="modalBox.data.kwargs.confirmstyle"
          >
            <div class="row align-items-center my-2">
              <div class="col-12">
                <p>{{ modalBox.data.kwargs.desc }}</p>
              </div>
            </div>
          </modal-content>

          <modal-content
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['user-set-quitted']"
            :box="modalBox"
            :needconfirm="true"
            @confirm="setAsQuitted(modalBox.data.kwargs)"
            :confirmstyle="'danger'"
          >
            <div class="row align-items-center my-2">
              <div class="col-12">
                <p>确定要将用户 {{modalBox.data.kwargs?.name}} 标记为“已退出”吗？</p>
              </div>
            </div>
          </modal-content>

          <modal-content
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['user-unset-quitted']"
            :box="modalBox"
            :needconfirm="true"
            @confirm="setNotQuitted(modalBox.data.kwargs)"
          >
            <div class="row align-items-center my-2">
              <div class="col-12">
                <p>确定要去除用户 {{modalBox.data.kwargs?.name}} 的“已退出”标记吗？</p>
              </div>
            </div>
          </modal-content>

          <modal-content
            v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['upload-entries']"
            :box="modalBox"
          >
            <form class="row align-items-center my-2" name="file-form" id="filePicker">
              <div class="col-md-8 my-2">
                <input
                  type="file"
                  class="form-control form-control-sm"
                  name="file-input"
                  id="file-input"
                  accept=".json, .txt"
                />
              </div>
              <div class="btn-group btn-group-sm col-md-4 my-2">
                <button
                  type="button"
                  name="do_import"
                  id="do_import"
                  @click="onImportEntryTable"
                  class="btn btn-primary"
                >导入</button>
              </div>
            </form>
          </modal-content>

        </div>
      </div>
    </div>


    <!-- Alert -->
    <div class="alert-wrap" style="display: block;" ref="alert_wrap">
      <transition name="fade" v-for="alert in alertBox.data.alerts">
        <div v-show="alert?.show" class="alert alert-dismissible" :class="'alert-'+(alert?.type ?? 'info')">
          <button type="button" class="btn-close" @click="alertBox.removeAlert(alert?.idx)"></button>
          <div>{{alert?.content}}</div>
        </div>
      </transition>
    </div>

  </div>
  <!-- bodywrap end -->

  <script type="module" src="js/manage.mjs.js"></script>
</body>

</html>
