<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">

  <title>Sp22Anno 管理后台</title>

  <link href="css/bootstrap_5.1.3_.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

  <style type="text/css">
  </style>

</head>

<body>

  <div class="bodywrap" id="bodywrap">

    <div class="page-cover" v-if="false">
      <div class="container pt-5 text-center">
        <div class="row">
          <div><h2>空间关系理解数据标注 2022 后台</h2></div>
        </div>
        <div class="row">
          <div>
            <p>正在加载，请稍候……</p>
          </div>
        </div>
      </div>
    </div>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">空间关系理解数据标注 2022 后台</a>
      </div>
    </nav>
    <!-- navbar end -->


    <div class="container page my-4">
      <div class="container py-2">
        <div class="row align-items-center">
          <div class="col col-12 col-md-3 col-lg-4 my-2">
            <div class="form-floating">
              <input
               class="form-control form-control-sm"
               type="text"
               v-model="ctrl.currentUser.name"
               placeholder="请输入您的姓名"
              >
              <label class="form-label">姓名</label>
            </div>
          </div>
          <div class="col col-12 col-md-9 col-lg-8 my-2">
            <div class="form-floating">
              <input
               class="form-control form-control-sm"
               type="password"
               v-model="ctrl.currentUser.token"
               placeholder="请输入您的密码"
              >
              <label class="form-label">密码</label>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-2">
          <div class="col col-12">
            <div>上次刷新整个数据库的时间是 {{ctrl.lastTime}} 。</div>
            <div>上次刷新 Entry 表的时间是 {{ctrl.lastTimeDict?.entries}} 。</div>
            <div>上次刷新 User 表的时间是 {{ctrl.lastTimeDict?.users}} 。</div>
            <div>上次刷新 Task 表的时间是 {{ctrl.lastTimeDict?.tasks}} 。</div>
            <div>上次刷新 Anno 表的时间是 {{ctrl.lastTimeDict?.annos}} 。</div>
            <div>操作步骤：</div>
            <div>1、如果太久没刷新，点「刷新全部」；否则点「加载缓存」</div>
            <div>2、等待处理完毕</div>
            <div>3、点击「开始工作」，加载工作页面</div>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn-outline-dark`"
              @click="()=>{sync()}"
              title="从服务器更新最新数据，包括 User, Task, Anno 表，以及 Entry 表中的基本信息"
            >刷新全部</button>
            <button
              type="button"
              __v-show="ctrl.haveCache"
              class="btn btn-sm me-2 my-1"
              :class="`btn-outline-dark`"
              @click="()=>{loadCacheDB()}"
              title="加载缓存数据"
            >加载缓存</button>
            <span class="text-danger" v-show="workerState.works.length">辅助线程 还有 {{workerState.works.length}} 项任务未完成，请稍等！！！</span>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.entries?.length, 'btn-outline-secondary': !theDB.entries?.length}"
              @click="()=>{syncEntryInfo()}"
              title="从服务器更新 Entry 表（仅基本信息，不含文本内容）"
              disabled
              v-show="false"
            ><s>刷新 Entry 表（仅基本信息）</s> 请直接刷新全部</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.tasks?.length, 'btn-outline-secondary': !theDB.tasks?.length}"
              @click="()=>{syncTask()}"
              title="从服务器更新 Task 表"
              disabled
              v-show="false"
            ><s>刷新 Task 表</s> 请直接刷新全部</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.annos?.length, 'btn-outline-secondary': !theDB.annos?.length}"
              @click="()=>{syncAnno()}"
              title="从服务器更新 Anno 表"
            >刷新 Anno 表</button>
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.users?.length, 'btn-outline-secondary': !theDB.users?.length}"
              @click="()=>{syncUser()}"
              title="从服务器更新 User 表"
            >刷新 User 表</button>
          </div>
          <div class="col col-12" v-show="false">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="{'btn-outline-success': theDB.entries?.[0]?.content?.material?.tokenList?.length, 'btn-outline-secondary': !theDB.entries?.[0]?.content?.material?.tokenList?.length}"
              @click="modalBox_open('upload-entries')"
              title="因网络传输不太稳定，而语料库较大，故请从本地选择语料库文件进行加载"
            >导入 Entry 表（完整)</button>
            <button
              type="button"
              v-if="theDB.entries?.[0]?.content?.material?.tokenList?.length"
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-primary'"
              @click="makeAnnoOnTexts"
              title="配合语料文本更新 anno 细节"
            >配合语料文本更新 anno 细节</button>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-dark'"
              @click="exportDB"
              title="将整个数据库导出为json文件（需要先刷新数据库到本地，否则数据可能不完整；其中Entry表可使用离线版）"
            >导出数据库（需要先刷新数据库到本地）</button>
            <a
              class="btn btn-sm me-2 my-1"
              :class="'btn-outline-dark'"
              href="https://github.com/2030NLP/sp22scripts/blob/main/SpaCE2022_DB.spec.md"
              target="_blank"
            >查看数据格式说明</a>
          </div>
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1"
              :class="`btn-info`"
              @click="()=>{ctrl.started=true;}"
              title="开始工作"
            >开始工作</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container page my-4" v-if="ctrl.started">
      <div class="container py-2">
        <div class="row mt-2 mb-4">
          <div class="col">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" :class="ctrl.tab == TABS.overview ? 'active' : ''" href="#" @click="goTab('overview')">总体进度</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="ctrl.tab == TABS.entryAndTask ? 'active' : ''" href="#" @click="goTab('entryAndTask')">标注详情</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="ctrl.tab == TABS.userProgress ? 'active' : ''" href="#" @click="goTab('userProgress')">用户进度</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" :class="ctrl.tab == TABS.userInfo ? 'active' : ''" href="#" @click="goTab('userInfo')">用户信息</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" :class="ctrl.tab == TABS.taskAssign ? 'active' : ''" href="#" @click="goTab('taskAssign')">分配任务</a>
              </li>
            </ul>
          </div>
        </div>






        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.overview">
          <div class="col col-12">
            <div>语料总量：一共有多少，其中删除的一共有多少。</div>
            <div>纯原句多少，替换句多少，替换句对多少。任务是否已设置。</div>
            <div>总体情况：</div>
            <ul>
              <li :title="`${tasks_computed.total.total_num} - ${tasks_computed.total.deleted_num}`">总任务量：{{ tasks_computed.total.total_num - tasks_computed.total.deleted_num }}</li>
              <li>已分配量：{{ tasks_computed.total.assigned_num }}</li>
              <li>非足量提交：{{ tasks_computed.total.working_num }}</li>
              <li>已足量提交：{{ tasks_computed.total.done_num }}</li>
            </ul>
          </div>

          <div class="col col-12">
            <div>各类型任务情况：</div>
            <ul>
              <li v-for="pair in tasks_computed.by_topic">
                <span>{{pair[0]}}</span><span>：</span>
                <ul>
                  <li :title="`${pair[1]?.total_num} - ${pair[1]?.deleted_num}`">总量：{{pair[1]?.total_num - pair[1]?.deleted_num}}</li>
                  <li>已分配：{{pair[1]?.assigned_num}}</li>
                  <li>非足量提交：{{pair[1]?.working_num}}</li>
                  <li>已足量提交：{{pair[1]?.done_num}}</li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="col col-12">
            <div>各标签数量：</div>
            <ul>
              <li v-for="kkvv in Object.entries(theDB.labelAnnoDict)">
                <span>{{kkvv[0]}}</span><span>：</span><span>{{kkvv[1].length}}</span>
              </li>
            </ul>
          </div>
        </div>



        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.entryAndTask">
          <div class="col col-12">
            <h4>检索</h4>
          </div>
          <div class="col col-12">
            <p>说明：id 都是整数， id 与 id 之间用任意非数字字符（如逗号或空格）隔开</p>
          </div>
          <div class="col col-12 col-sm-6 col-md-3">
            <label class="form-label">要检索哪些 entry.id</label>
            <input
             class="form-control form-control-sm"
             type="text"
             v-model="ctrl.entryIdBoxText"
            >
          </div>
          <div class="col col-12 col-sm-6 col-md-3">
            <label class="form-label">要检索哪些 task.id</label>
            <input
             class="form-control form-control-sm"
             type="text"
             v-model="ctrl.taskIdBoxText"
            >
          </div>
          <div class="col col-12 col-sm-6 col-md-3">
            <label class="form-label">要检索哪些 anno.id</label>
            <input
             class="form-control form-control-sm"
             type="text"
             v-model="ctrl.annoIdBoxText"
            >
          </div>
          <div class="col col-12 col-sm-6 col-md-3">
            <label class="form-label">要检索哪些 user.id</label>
            <input
             class="form-control form-control-sm"
             type="text"
             v-model="ctrl.userIdBoxText"
            >
          </div>
          <div class="col col-12 col-sm-6 col-md-3">
            <button
              type="button"
              class="btn btn-sm btn-primary my-1 me-2"
              @click="search"
            >检索</button>
          </div>
        </div>
        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.entryAndTask">
          <div class="col col-12">
            <h4>检索结果</h4>
          </div>

          <div class="col col-12" v-if="ctrl.entryIdBoxList?.length">
            <div
              class="form-control form-control-sm overflow-auto my-2"
            >
              <h5>entries</h5>
              <div class="form-control form-control-sm overflow-auto max-vh-40">
                <template v-for="entry_id in ctrl.entryIdBoxList">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                    @click="modalBox_open('entry-detail', theDB.entryDict[entry_id])"
                  >entry#{{entry_id}}</button>
                </template>
              </div>
            </div>
          </div>

          <div class="col col-12" v-if="ctrl.taskIdBoxList?.length">
            <div
              class="form-control form-control-sm overflow-auto my-2"
            >
              <h5>tasks</h5>
              <div class="form-control form-control-sm overflow-auto max-vh-40">
                <template v-for="task_id in ctrl.taskIdBoxList">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                    @click="modalBox_open('task-detail', theDB.taskDict[task_id])"
                  >task#{{task_id}}</button>
                </template>
              </div>
            </div>
          </div>

          <div class="col col-12" v-if="ctrl.annoIdBoxList?.length">
            <div
              class="form-control form-control-sm overflow-auto my-2"
            >
              <h5>annos</h5>
              <div class="form-control form-control-sm overflow-auto max-vh-40">
                <template v-for="anno_id in ctrl.annoIdBoxList">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                    @click="modalBox_open('anno-detail', theDB.annoDict[anno_id])"
                  >anno#{{anno_id}}</button>
                </template>
              </div>
            </div>
          </div>

          <div class="col col-12" v-if="ctrl.userIdBoxList?.length">
            <div
              class="form-control form-control-sm overflow-auto my-2"
            >
              <h5>users</h5>
              <div class="form-control form-control-sm overflow-auto max-vh-40">
                <template v-for="user_id in ctrl.userIdBoxList">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                    @click="modalBox_open('user-progress', theDB.userDict[user_id])"
                  >user#{{user_id}}</button>
                </template>
              </div>
            </div>
          </div>

        </div>





        <div class="row align-items-center my-4" v-show="ctrl.tab == TABS.entryAndTask">
          <div class="col col-12">
            <h4>质检题情况</h4>

              <div
                class="form-control form-control-sm overflow-auto my-2"
                v-for="kkvv in Object.entries( lo.groupBy( theDB.tasks.filter(task=>task.polygraph&&task.submitters?.length), 'polygraph' ) )"
              >
                <h5>{{kkvv[0]}}</h5>
                <div class="form-control form-control-sm overflow-auto max-vh-40">
                  <template v-for="task in kkvv[1]">
                    <button
                      type="button"
                      class="btn btn-sm btn-light my-1 me-2"
                      @click="modalBox_open('task-detail', task)"
                    >task#{{task?.id}}</button>
                  </template>
                </div>
              </div>

          </div>
        </div>

        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.entryAndTask">
          <div class="col col-12">
            <h4>按标签分组</h4>

              <div
                class="form-control form-control-sm overflow-auto my-2"
                v-for="kkvv in Object.entries(theDB.labelAnnoDict)"
              >
                <h5>{{kkvv[0]}}</h5>
                <div class="form-control form-control-sm overflow-auto max-vh-40">
                  <template v-for="anno_id in kkvv[1]" :key="`anno_id`">
                    <!-- <anno-card
                      v-for="anno in [theDB.annoDict[anno_id]]"
                      :anno="anno"
                      :db="theDB"
                      :key="anno.id"
                      @submit-review="(value)=>{saveAnnoReview(...value)}"
                      @open-modal="(value)=>{modalBox_open(...value)}"
                      @update-anno="(value)=>{updateOneAnno(value)}"
                    ></anno-card> -->
                    <button
                      v-for="anno in [theDB.annoDict[anno_id]]"
                      type="button"
                      class="btn btn-sm btn-light my-1 me-2"
                      @click="modalBox_open('anno-detail', anno)"
                    >anno#{{anno?.id}}-{{theDB.userDict[anno?.user]?.name}}</button>
                  </template>
                </div>
              </div>

          </div>
        </div>











        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.taskAssign">
          <div class="col col-12">
            <div>说明：分配任务前，请先：1、在后端构建任务；2、刷新Task表；3、刷新Entry表。</div>
          </div>
          <div class="col col-12">
            <div>请进行参数设置：</div>
          </div>
          <div class="col col-12 col-sm-6 col-lg-4 my-2">
            <label class="form-label">每个用户多少任务</label>
            <input
             class="form-control form-control-sm"
             type="number"
             v-model="assignData.settings.tasks_per_user"
            >
          </div>
          <div class="col col-12 col-sm-6 col-lg-4 my-2">
            <label class="form-label">每个任务需要几名用户参与</label>
            <input
             class="form-control form-control-sm"
             type="number"
             v-model="assignData.settings.users_per_task"
            >
          </div>
          <div class="col col-12 col-sm-6 col-lg-4 my-2">
            <label class="form-label">任务类型</label>
            <select
             class="form-select form-select-sm"
             v-model="assignData.settings.topic"
            >
              <option v-for="topic in assignTopics" :value="topic.value">{{topic.desc}}</option>
            </select>
          </div>
          <div class="col col-12 col-sm-6 col-lg-4 my-2">
            <label class="form-label">任务批次名称（用于筛选）</label>
            <input
             class="form-control form-control-sm"
             type="text"
             v-model="assignData.settings.batchName"
            >
          </div>
          <div class="col col-12 my-2">
            <label class="form-label">质检题设置（Json字符串）</label>
            <textarea
              class="form-control form-control-sm"
              v-model="assignData.settings.polygraphs_per_user_json_string"
              :class="{'is-invalid': assignData.polygraphs_per_user_json_string_error}"
            ></textarea>
            <div
              class="invalid-feedback"
              v-show="assignData.polygraphs_per_user_json_string_error"
            >Json解析失败，请检查</div>
          </div>
          <div class="col col-12 my-2">
            <label class="form-label">
              <span>选择用户</span>
            </label>
            <div>
              <button
                type="button"
                class="btn btn-sm mx-2 my-1 btn-outline-dark"
                @click="selectUsersAuto"
              >自动</button>
              <button
                type="button"
                class="btn btn-sm mx-2 my-1 btn-outline-dark"
                @click="selectUsersAll"
              >全选</button>
              <button
                type="button"
                class="btn btn-sm mx-2 my-1 btn-outline-dark"
                @click="selectUsersNone"
              >清除</button>
            </div>
            <div
              class="form-control form-control-sm overflow-auto max-vh-40"
            >
              <button
                v-for="user in theDB.users"
                type="button"
                class="btn btn-sm me-2 my-1"
                :class="assignData.assignUserBoxDict[user.id] ? `btn-primary` : `btn-outline-secondary`"
                @click="()=>{assignData.assignUserBoxDict[user.id]=!assignData.assignUserBoxDict[user.id]}"
              >{{ user.currTaskGroup }} #{{ user.id }} {{ user.name }}</button>
            </div>
          </div>
          <div class="col col-12 col-sm-6 col-lg-4 my-2">
            <div class="form-check form-switch" :title="`通常大家在标注时要分配新任务的话，选「否」；\n如果要总地进行下一轮分配，通常选「是」`">
              <input class="form-check-input" type="checkbox" role="switch" v-model="assignData.settings.retrieve">
              <label class="form-check-label">是否收回未完成的任务（{{assignData.settings.retrieve?'是':'否'}}）</label>
            </div>
          </div>
        </div>



        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.taskAssign">
          <div class="col col-12">
            <button
              type="button"
              class="btn btn-sm me-2 my-1 btn-outline-primary"
              @click="planAssigment"
              title="对任务分配进行规划"
            >开始规划</button>
          </div>
          <template v-if="assignData.analysis.length">
            <div class="col col-12">
              <h4 class="mt-3 mb-2">{{ assignData.undone ? '规划' : '执行'}}结果</h4>
            </div>
            <div class="col col-12">
              <div class="text-muted">批次编号：{{ assignData.batch }}</div>
            </div>
            <div class="col col-12 my-2">
              <div class="fw-bold">具体到每个标注者：</div>
              <div class="text-muted">绿色表示新任务，灰色表示之前就分配给他了</div>
              <div class="text-muted">着色表示正常任务，框线表示为质检题</div>
            </div>
            <div class="col col-12">
              <ul class="list-group max-vh-40 overflow-auto border border-1">
                <li class="list-group-item" v-for="pair in assignData.planPerUser">
                  <div>
                    <span>{{ `#${pair[0]} ${theDB.userDict[pair[0]]?.name}` }}</span> 分配到的 {{pair[1]?.length}} 条任务是：
                  </div>
                  <div>
                    <button
                      v-for="task_id in pair[1]"
                      type="button"
                      class="btn btn-sm me-2 my-1"
                      :class="classAssignAnalisisByUser(pair[0], task_id)"
                    >#{{ task_id }}</button>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col col-12 my-2">
              <div class="fw-bold">具体到每个任务：</div>
            </div>
            <div class="col col-12">
              <ul class="list-group max-vh-40 overflow-auto border border-1">
                <li class="list-group-item" v-for="item in assignData.analysis">
                  <div>
                    <span>「{{item?.plan?.topic}} 任务 #{{item.id}}</span><span></span> / <span></span><span>语料 #{{item?.plan?.entry}}」</span>
                    <!-- <br v-if="item.new_to?.length"/> -->
                    <span v-if="item.new_to?.length">
                      分配给：
                      <span class="me-2 text-success __fw-bold" v-for="guy in item.new_guys">#{{guy}} {{theDB.userDict[guy]?.name}}</span>
                      <span class="me-2" v-for="guy in item.solid_guys">#{{guy}} {{theDB.userDict[guy]?.name}}</span>
                      。
                    </span>
                    <!-- <br v-if="item.canceled_guys?.length"/> -->
                    <span v-if="item.canceled_guys?.length" class="text-muted">
                      不再分配给：
                      <s class="me-2" v-for="guy in item.canceled_guys">#{{guy}} {{theDB.userDict[guy]?.name}}</s>
                      。
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col col-12 my-2">
              <button
                type="button"
                class="btn btn-sm me-2 my-1 btn-danger"
                __click="doAssigment"
                @click="modalBox_open('confirm', {desc: '确定要执行规划好的任务安排吗？', action: doAssigment})"
                title="开始执行规划好的任务安排"
                v-if="assignData.undone"
              >开始执行</button>
              <button
                type="button"
                class="btn btn-sm me-2 my-1 btn-primary"
                __click="doAssigment"
                @click="exportPlan"
                title="开始执行规划好的任务安排"
                v-if="assignData.undone"
              >导出计划</button>
              <button
                type="button"
                class="btn btn-sm me-2 my-1"
                :class="assignData.undone ? 'btn-outline-secondary' : 'btn-outline-success'"
                @click="()=>{if(assignData.undone){cancelAssigment();}else{cleanAssigment();}}"
                :title="assignData.undone ? '撤除规划好的任务安排' : '清除以上信息'"
              >{{ assignData.undone ? '撤除规划' : '知道了，清除'}}</button>
            </div>
            <div class="col col-12 my-2" v-if="'inserted' in assignData.result">
              <div>执行结果：</div>
            </div>
            <div class="col col-12 my-2" v-if="'inserted' in assignData.result">
              <div>修改： {{ assignData.result.replaced }}</div>
              <div>新增： {{ assignData.result.inserted }}</div>
              <div>异常： {{ assignData.result.strange }}</div>
            </div>
          </template>
        </div>



        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.userProgress">
          <div class="col col-12 my-2">
            <div>
              <button
                type="button"
                class="btn btn-sm my-1 me-2"
                :class="ctrl.showOnlyMyMembers ? 'btn-primary' : 'btn-outline-primary'"
                @click="ctrl.showOnlyMyMembers = !ctrl.showOnlyMyMembers"
              >只显示我管理的人员</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+a.id-b.id);}"
              >按序号排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+userProgress(a).ratio-userProgress(b).ratio);}"
              >按进度升序排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((b,a)=>+userProgress(a).ratio-userProgress(b).ratio);}"
              >按进度降序排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>+userProgress(a).cDoneLen-userProgress(b).cDoneLen);}"
              >按总完成量升序排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((b,a)=>+userProgress(a).cDoneLen-userProgress(b).cDoneLen);}"
              >按总完成量降序排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>sortFnByPassRatio(a,b))}"
              >按审核通过率升序排序</button>
              <button
                type="button"
                class="btn btn-sm btn-light my-1 me-2"
                @click="()=>{theDB.users.sort((a,b)=>sortFnByPassRatioR(a,b))}"
              >按审核通过率降序排序</button>
            </div>
          </div>
        </div>

        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.userProgress">
          <div class="col col-12 my-2">
            <div>已审核 {{theDB?.annos?.filter?.(it=>it?.content?.review)?.length}} / {{theDB?.annos?.length}}</div>
          </div>
        </div>

        <div class="row align-items-center my-2" v-show="ctrl.tab == TABS.userProgress">
          <div class="container my-2">
            <div
              class="row align-items-center my-1 border rounded p-2"
              v-show="ctrl.currentUser?.id==user.manager||!ctrl.showOnlyMyMembers"
              v-for="user in theDB.users"
              :key="user.id"
            >
              <div class="col col-12 col-md-6 col-lg-4 mb-1">
                <span class="__fw-bold fs-6 me-2">{{user.name}}</span>
                <span class="badge rounded-pill bg-light text-dark me-1">#{{user.id}}</span>
                <span v-for="role in user.role" class="badge rounded-pill bg-light _border _border-primary text-primary me-1">{{role}}</span>
                <span v-if="user.quitted" class="badge rounded-pill bg-danger me-1">已退出</span>
              <!-- </div>
              <div class="col col-12 col-sm-6 col-md-3 my-2"> -->
                <span class="badge bg-light text-dark me-1" :title="组别">{{user.currTaskGroup}}</span>
                <span class="badge bg-light text-dark me-1" v-if="user.manager" :title="`组长：${theDB.userDict[user.manager]?.name}`">{{theDB.userDict[user.manager]?.name}}</span>
              <!-- </div>
              <div class="col col-12 col-sm-6 col-md-3 my-2"> -->
                <span class="badge bg-light text-dark me-1" :title="当前任务">{{topic_regulation(user.currTask)}}</span>
                <span class="badge bg-light text-dark me-1">已标总量：{{user.allAnnos?.length}}</span>
                <template v-for="sum in [inspectionSum(user)]"><span
                  class="badge me-1"
                  :class="sum?.passRatio>=0.9 ? 'bg-success text-light' : sum?.passRatio>=0.8 ? 'bg-light text-success border border-1 border-success' : sum?.passRatio==null ? 'bg-light text-dark' : sum?.passRatio<=0.6 ? 'bg-danger text-light' : 'bg-light text-danger border border-1 border-danger'"
                >审核通过率：{{sum?.passRatio?.toFixed?.(3)??'null'}}</span>
                <span class="badge bg-light text-dark me-1">已审：{{inspectionSum(user)?.sum}}</span></template>
              </div>
              <div class="col col-12 col-md-6 col-lg-6 my-1">
                <div class="progress" :class="{'bg-success bg-opacity-25': userProgress(user).done}" title="当前任务进度">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    :style="`width: ${userProgress(user).pct};`"
                    :aria-valuenow="userProgress(user).mn"
                    :aria-valuemax="userProgress(user).bg"
                    aria-valuemin="0"
                  >当前任务进度　{{ userCurrDoneTasks(user).length }}/{{ userCurrTasks(user).length }}</div>
                </div>
              </div>
              <div class="col col-12 col-md-12 col-lg-2 mt-1">
                <button
                  type="button"
                  class="btn btn-sm me-2 my-1 btn-light"
                  :title="`查看 ${user.name} 所标注的具体情况`"
                  @click="modalBox_open('user-progress', user)"
                >标注详情</button>
                <button
                  type="button"
                  class="btn btn-sm me-2 my-1 btn-light"
                  :title="`查看更多关于 ${user.name} 的信息`"
                  @click="modalBox_open('user-detail', user)"
                >更多</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Modal -->
    <div class="modal-wrap" style="display: block;" ref="modal_wrap">
      <div class="modal" v-show="modalBox.data.show" :class="{show: modalBox.data.show}">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">


          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['default']">
            <div class="modal-body">
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <p>😄</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">取消</button>
              <button type="button" class="btn btn-sm btn-primary" @click="()=>{modalBox.hide()}">确定</button>
            </div>
          </div>


          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['confirm']">
            <div class="modal-body">
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <p>{{ modalBox.data.kwargs.desc }}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">取消</button>
              <button type="button" class="btn btn-sm btn-primary" @click="()=>{modalBox.data.kwargs.action();modalBox.hide();}">确定</button>
            </div>
          </div>












          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['entry-detail']">
            <div class="modal-body" v-for="entry in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4 class="mt-2">语料详情</h4>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">基本信息</h5>
                </div>

                <div class="col-12">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">更多信息</h5>
                </div>

                <div class="col-12">
                  <div v-show="entry.originId">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">原句编号: {{entry.originId}}</span>
                  </div>
                  <div v-show="entry.version">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">版本: {{entry.version}}</span>
                  </div>
                  <div v-show="entry.deleted">
                    <span class="badge bg-danger text-light text-wrap my-1 me-2">已删除</span>
                  </div>
                  <div v-show="entry.info">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">更多信息: {{entry.info}}</span>
                  </div>
                  <!-- <div v-show="Object.keys(entry.results).length">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">参考信息: {{entry.results}}</span>
                  </div> -->
                </div>

                <div class="col-12">
                  <h5 class="mt-2">已提交的标注</h5>
                </div>

                <div class="col-12" v-for="anno_id in entry.allAnnos">
                  <div class="card my-1" v-for="anno in [theDB.annoDict[anno_id]]" :key="anno.id">
                    <div class="col-12">
                      <anno-card
                        :anno="anno"
                        :db="theDB"
                        @submit-review="(value)=>{saveAnnoReview(...value)}"
                        @open-modal="(value)=>{modalBox_open(...value)}"
                        @update-anno="(value)=>{updateOneAnno(value)}"
                      ></anno-card>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <h5 class="mt-2">关联的任务</h5>
                </div>

                <div class="col-12" v-for="task_id in entry.allTasks">
                  <!-- <template v-for="task in [theDB.taskDict[task_id]]">
                    <button
                      type="button"
                      class="btn btn-sm my-1 me-2"
                      :class="task.deleted ? 'btn-danger' : 'btn-outline-dark'"
                      @click="modalBox_open('task-detail', task)"
                    >task-{{task?.topic}}-#{{task?.id}}</button><span v-if="task.batchName">批次：{{task.batchName}}</span>
                  </template> -->
                  <task-card
                    v-for="task in [theDB.taskDict[task_id]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}">关闭全部</button>
            </div>
          </div>



          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['anno-detail']">
            <div class="modal-body" v-for="anno in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4>标注详情</h4>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[anno.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-dark my-1 me-2"
                  >anno-{{anno?.topic}}-#{{anno?.id}}-{{theDB.userDict[anno?.user]?.name}}</button>
                  <div v-for="annot in anno.content?.annotations??[]">
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">{{annot}}</span>
                  </div>
                  <div>
                    <span>Schema：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?.content?._ctrl?.schema}}</span>
                  </div>
                  <div v-if="anno?._timeInfo">
                    <span>最后提交时间：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{(new Date(anno?._timeInfo?.lastAt)).toLocaleString()}}</span><br/>
                    <span>首次操作时长：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.firstDur/1000}}s</span><br/>
                    <span>累计操作次数：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.detail?.length}}次</span><br/>
                    <span>累计操作时长：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.totalDur/1000}}s</span><br/>
                    <span>累计时长跨度：</span><span class="badge bg-light text-dark text-wrap my-1 me-2">{{anno?._timeInfo?.stride/1000}}s</span>
                  </div>
                  <task-card
                    v-for="task in [theDB.taskDict[anno.task]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                  <button
                    v-for="user in [theDB.userDict[anno.user]]"
                    type="button"
                    class="btn btn-sm btn-outline-dark my-1 me-2"
                    @click="modalBox_open('user-progress', user)"
                  >user#{{user?.id}} {{user?.name}}</button>
                </div>


              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}">关闭全部</button>
            </div>
          </div>



          <div class="modal-content" v-if="MODAL_THEMES[modalBox.data.theme] == MODAL_THEMES['task-detail']">
            <div class="modal-body" v-for="task in [modalBox.data.kwargs]">
              <div class="row align-items-center my-2">

                <div class="col-12">
                  <h4>任务详情</h4>
                </div>

                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-sm btn-light my-1 me-2"
                  >task#{{task?.id}}</button>
                  <div>
                    <span class="badge bg-light text-dark text-wrap my-1 me-2">{{task}}</span>
                  </div>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[task.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <h5>已提交的标注（{{task.submitters?.length}}）</h5>
                  <div class="card my-1" v-for="user_id in task.submitters">
                    <div class="col-12" v-for="anno_id in [theDB.inf_user_task_anno[`${user_id}/${task.id}`]]">
                      <!-- <anno-card
                        v-for="anno in [theDB.annoDict[anno_id]]"
                        :anno="anno"
                        :db="theDB"
                        :key="anno.id"
                        @submit-review="(value)=>{saveAnnoReview(...value)}"
                        @open-modal="(value)=>{modalBox_open(...value)}"
                        @update-anno="(value)=>{updateOneAnno(value)}"
                      ></anno-card> -->
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <h5>分配给{{task.to?.length}}人</h5>
                  <template v-for="user_id in task.to">
                    <button
                      v-for="user in [theDB.userDict[user_id]]"
                      type="button"
                      class="btn btn-sm btn-outline-dark my-1 me-2"
                      @click="modalBox_open('user-progress', user)"
                    >user#{{user?.id}} {{user?.name}}</button>
                  </template>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}">关闭全部</button>
            </div>
          </div>









          <div class="modal-content" v-if="modalBox.data.theme == MODAL_THEMES['user-detail']">
            <div class="modal-body" v-for="user in [modalBox.data.kwargs]">
              <div class="container">
                <div class="row align-items-center my-2">
                  <div class="col-6 col-sm-6 col-md-3 my-1">
                    <h5>{{user.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" v-for="user in [modalBox.data.kwargs]">
              <button type="button" class="btn btn-sm btn-outline-dark me-2" @click="modalBox_open('user-progress', user)">标注进度</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide();}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}">关闭全部</button>
            </div>
          </div>



          <div class="modal-content" v-if="modalBox.data.theme == MODAL_THEMES['user-progress']">
            <div class="modal-header" v-for="user in [modalBox.data.kwargs]">
              <div class="container">
                <div class="row align-items-center my-2">
                  <div class="col-6 col-sm-6 col-md-3 my-1">
                    <h5>{{user.name}}</h5>
                  </div>
                  <div class="col-6 col-sm-6 col-md-3 my-1">
                    <span v-for="sum in [inspectionSum(user)]"
                      class="badge me-1"
                      :class="sum?.passRatio>=0.9 ? 'bg-success text-light' : sum?.passRatio>=0.8 ? 'bg-light text-success border border-1 border-success' : sum?.passRatio==null ? 'bg-light text-dark' : sum?.passRatio<=0.6 ? 'bg-danger text-light' : 'bg-light text-danger border border-1 border-danger'"
                    >通过率： {{sum.passRatio?.toFixed?.(3)??'null'}} = {{sum.true??0}}/{{sum.sum??0}}</span>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 my-2">
                    <div class="progress" :class="{'bg-success bg-opacity-25': userProgress(user).done}" title="标注进度">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        :style="`width: ${userProgress(user).pct};`"
                        :aria-valuenow="userProgress(user).mn"
                        :aria-valuemax="userProgress(user).bg"
                        aria-valuemin="0"
                      >{{ userCurrDoneTasks(user).length }}/{{ userCurrTasks(user).length }}</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 my-1">
                    <select
                     class="form-select form-select-sm"
                     v-model="ctrl.userAnnoFilter.topic"
                    >
                      <option v-for="topic in theDB.topics" :value="topic">{{topic}}</option>
                      <option value="【empty】">【empty】</option>
                      <option value="【all】">【all】</option>
                    </select>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 my-1">
                    <select
                     class="form-select form-select-sm"
                     v-model="ctrl.userAnnoFilter.batchName"
                    >
                      <option v-for="batchName in theDB.batchNames" :value="batchName">{{batchName}}</option>
                      <option value="【empty】">【empty】</option>
                      <option value="【all】">【all】</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-body" v-for="user in [modalBox.data.kwargs]">
              <div
                class="row align-items-center my-3 border border-secondary border-2 rounded"
                v-for="anno in lo.sortBy(user.allAnnos.map(it=>theDB.annoDict[it]), [annoSortFn, it=>(-it.batch)])"
                :key="anno.id"
                v-show="[anno.topic, '【all】'].includes(ctrl.userAnnoFilter.topic)&&[anno.batchName??'【empty】', '【all】'].includes(ctrl.userAnnoFilter.batchName??'【empty】')">

                <div class="col-12">
                  <task-card
                    v-for="task in [theDB.taskDict[anno.task]]"
                    :task="task"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                  ></task-card>
                </div>

                <div class="col-12" v-for="entry in [theDB.entryDict[anno.entry]]">
                  <entry-card
                    :entry="entry"
                    :db="theDB"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-entry="(value)=>{updateOneEntry(value)}"
                  ></entry-card>
                </div>

                <div class="col-12">
                  <anno-card
                    :anno="anno"
                    :db="theDB"
                    @submit-review="(value)=>{saveAnnoReview(...value)}"
                    @open-modal="(value)=>{modalBox_open(...value)}"
                    @update-anno="(value)=>{updateOneAnno(value)}"
                  ></anno-card>
                </div>

              </div>
            </div>

            <div class="modal-footer" v-for="user in [modalBox.data.kwargs]">
              <button type="button" class="btn btn-sm btn-outline-dark me-2" @click="modalBox_open('user-detail', user)">用户资料</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">关闭</button>
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hideTotal();}">关闭全部</button>
            </div>
          </div>












          <div class="modal-content" v-if="modalBox.data.theme == MODAL_THEMES['user-set-quitted']">
            <div class="modal-body">
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <p>确定要将用户 {{modalBox.data.kwargs?.name}} 标记为“已退出”吗？</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">取消</button>
              <button type="button" class="btn btn-sm btn-danger" @click="setAsQuitted(modalBox.data.kwargs)">确定</button>
            </div>
          </div>


          <div class="modal-content" v-if="modalBox.data.theme == MODAL_THEMES['user-unset-quitted']">
            <div class="modal-body">
              <div class="row align-items-center my-2">
                <div class="col-12">
                  <p>确定要去除用户 {{modalBox.data.kwargs?.name}} 的“已退出”标记吗？</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">取消</button>
              <button type="button" class="btn btn-sm btn-danger" @click="setNotQuitted(modalBox.data.kwargs)">确定</button>
            </div>
          </div>


          <div class="modal-content" v-if="modalBox.data.theme == MODAL_THEMES['upload-entries']">
            <!-- <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close"></button>
            </div> -->
            <div class="modal-body">
              <form class="row align-items-center my-2" name="file-form" id="filePicker">
                <div class="col-md-8 my-2">
                  <input
                    type="file"
                    class="form-control form-control-sm"
                    name="file-input"
                    id="file-input"
                    accept=".json, .txt"
                  />
                </div>
                <div class="btn-group btn-group-sm col-md-4 my-2">
                  <button
                    type="button"
                    name="do_import"
                    id="do_import"
                    @click="onImportEntryTable"
                    class="btn btn-primary"
                  >导入</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" @click="()=>{modalBox.hide()}">Close</button>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- Alert -->
    <div class="alert-wrap" style="display: block;" ref="alert_wrap">
      <transition name="fade" v-for="alert in alertBox.data.alerts">
        <div v-show="alert?.show" class="alert alert-dismissible" :class="'alert-'+(alert?.type ?? 'info')">
          <button type="button" class="btn-close" @click="alertBox.removeAlert(alert?.idx)"></button>
          <div>{{alert?.content}}</div>
        </div>
      </transition>
    </div>

  </div>
  <!-- bodywrap end -->

  <script type="module" src="js/manage.mjs.js"></script>
</body>

</html>
